@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2');
    src: local('Roboto-Regular'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}